.sharp-keys {
  display: flex;
  justify-content: center;
}

.sharp-keysCD {
  display: flex;
  margin-right: 2rem;
}
.sharp-keysFGA {
  display: flex;
  margin-right: 2rem;
}
#play-btn {
  color: red;
  background-color: #ffffff;
  height: 5rem;
  width: 2rem;
  transition: background-color 0.2s;

  #play-btn.active {
    background-color: blue;
  }
}

.white-keys {
  display: flex;
  justify-content: center;
}
#sharp-btn {
  color: #ffffff;
  background-color: #000;
}
